:root {
  --focus-color: #2196f3;
}

body {
  width: 1600px;
}

main,
.footer-address,
.footer-link {
  font-family: 'Roboto';
  font-style: normal;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--focus-color);
}

.logo-studio-head {
  color: #000000;
}
.main-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.logo-studio-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--focus-color);
}
a {
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--focus-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero-section {
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.hero-button {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.peculiarities h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.peculiarities p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background: #2f303a;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.nav-buttons button:hover,
.nav-buttons button:focus {
  background-color: var(--focus-color);
  color: #ffffff;
}
.button {
  background: #f5f4fa;
  border-radius: 4px;
}

.team {
  background-color: #f5f4fa;
}

.team-div ul {
	display: flex;
	margin: 185px 215px 95px 215px;
}

